################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
*.exe
*.msi
*.zip
bin/
obj/
/App.xaml.cs
/AgendaContext.cs
/AgendaContextFactory.cs
/App.xaml.cs
